/* TODO: include bootstrap files locally instead of grabbing from online */


/* * {
  border-style: solid;
  border-width: 0.5px;
} */

* {
  font-family: Cambria;
}

/* Utility */
/*smooth scrolling*/
/*TODO: scroll and snap to sections, fullscreen sections, pinterest landing page
https://web.dev/css-scroll-snap/
*/


/* Components */

/* Top Bar */
.nav {
  z-index: 1; 
  text-decoration: none;
}

.nav-logo {
  font-family: Cambria;
  font-size: 1.5em;
  font-weight: bold;
  color: black
}

/* Cover */
.cover {
  background-color: white;
  min-height: 88vh;
}

.cover-content {
  top: 20%;
}

.cover-phrase {
  font-size: 4em;
  font-family: Cambria;
  line-height: 100%;
  /*TODO: Responsive font-size*/
}

.cover-subphrase {
  font-size: 1.5em;
  font-family: Cambria;
}

.cover-button {
  width: auto;
  font-size: 1em;
  font-family: Cambria;
  text-decoration: none;
}

/* Section */
.section {
  min-height: 96vh;
}

.section-title {
  font-family: Cambria;
  font-size: 4em;
  padding-bottom: 0.5em;
}

/* Pane */
.pane {
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
  border-radius: 0px;
}

.pane:hover {
  border-color: white;
}

.pane-link {
  text-decoration: none;
}

.pane-img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0px;
}

.pane-title {
  color: inherit;
  font-size: 1.25em;
}

.pane-text {
  font-size: 1em;
}

/* Section Specific */
.section1 {
  color: white;
  background-color: aquamarine;
}
.section1 a {
  color: white;
}

.section2 {
  color: white;
  background-color: rgb(10, 10, 10);
}
.section2 a {
  color: white;
}

.section3 {
  color: black;
  background-color: rgb(245, 222, 96);
}
.section3 a {
  color: black;
}

/* Pane Specific */
.software1-img {
  background-image: url(https://raw.githubusercontent.com/ryanlin/ryanlin.github.io/main/assets/nextgen.png);
  background-size: cover;
  background-repeat: non-repeat;
}

/* Contact */
.contact {
  background-color: aquamarine;
}

/* Footer */
.footer-link {
  color: black;
}